<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess a Number game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1> random number guessing game! </h1>

<h2> a number from 1-20, can you guess it? </h2>

<br>
<button class="start">Start game</button>
<button class="give-up">give up?</button>

<h3> Highscore:
</h3>
<h3>
    <p class="highscore-message" style="color: cadetblue" >No highscore yet</p>
</h3>

<p class="message">Start game and Make a guess :D </p>
<label>
    Guess:
    <input type="text" class="guess">
    <button class="make-guess"> make guess </button>
</label>

<script src="js/guessanumber.js"></script>
</body>
</html>